#footer {
    .text-footer {
        span, p {
            color: #d6dae1;
            font-size: 16px;
        }
    }
}

.menu-footer ul > li:before {
    content: "\e661";
    font-family: themify;
    left: -33px;
    top: 3px;
    color: #f0b65f;
}

.menu-footer ul > li {
    display: flex;
    align-items: center;
}