//Simple Product Tabs
.description_tab {
    a {
        background-color: #fff;
        border: 1px solid #ccc !important;
        padding: 18px 24px!important;
        height: 50px;
    }
}

.reviews_tab {
    a {
        background-color: #fff;
        border: 1px solid #ccc !important;
        padding: 18px 24px!important;
        height: 50px;
    }
}
